
  .crack{
    width: 600px;
    height:300px;
    background: url(CDcrack-P1.jpg) no-repeat;
    margin: 50px;
  }

  .crack:hover {
    background: url(crack-P1.jpg) no-repeat;
  }

  .the{
    width: 600px;
    height:300px;
    background: url(CDthe-P1.jpg) no-repeat;
    margin: 50px;
  }

  .the:hover {
    background: url(the-P1.jpg) no-repeat;
  }

.code{
    width: 600px;
    height:300px;
    background: url(CDcode-P1.jpg) no-repeat;
    margin: 50px;
  }

 .code:hover {
    background: url(code-P1.jpg) no-repeat;
  }
